@use "vars";
@use "sass:color";
@use "sass:map";
@use "sass:math";

.dialog_container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border-radius: vars.$corner;

    & .dialog {
        border-radius: vars.$corner;
        background-color: vars.$mocha_mantle;
        max-width: 80%;
        max-height: 80%;
        display: flex;
        flex-direction: column;

        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

        & > * {
            border-left: 1px solid vars.$mocha_surface0;
            border-right: 1px solid vars.$mocha_surface0;
            border-bottom: 1px solid vars.$mocha_surface0;

            &:first-child {
                border-top-left-radius: vars.$corner;
                border-top-right-radius: vars.$corner;
                border-top: 1px solid vars.$mocha_surface0;
            }

            &:last-child {
                border-bottom-left-radius: vars.$corner;
                border-bottom-right-radius: vars.$corner;
            }
        }

        & .dialog_header {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0.5rem 1rem;

            & h3 {
                font-family: vars.$display_font;
                font-size: 1.25rem;
                font-weight: 300;
                margin: 0;
            }

            & .dialog_close_button {
                border: none;
                background-color: transparent;
                cursor: pointer;
                font-size: 1.25rem;
                color: vars.$mocha_text;
                border-radius: vars.$corner;

                transition: background-color 0.25s ease-in-out;

                &:hover {
                    background-color: vars.$mocha_surface0;
                }
            }
        }

        & .dialog_content {
            flex-grow: 1;
            padding: 1rem;
            overflow-y: scroll;

            & .heading {
                display: flex;
                align-items: center;
                gap: math.div(vars.$gap, 2);
                font-weight: 500;
                font-size: 1.1rem;
                font-family: vars.$display_font;
            }

            &.error {
                display: flex;
                flex-direction: column;
                gap: math.div(vars.$gap, 2);
                color: map.get(vars.$mocha_colors, "red");
                padding: 0.5rem 1rem;

                background-color: color.scale(
                    map.get(vars.$mocha_colors, "red"),
                    $lightness: -80%,
                    $alpha: -70%
                );
                border-color: color.scale(
                    map.get(vars.$mocha_colors, "red"),
                    $saturation: -50%,
                    $lightness: -20%
                );
                border-top: 1px solid
                    color.scale(
                        map.get(vars.$mocha_colors, "red"),
                        $saturation: -50%,
                        $lightness: -20%
                    );
            }
        }

        & .dialog_footer {
            display: flex;
            justify-content: flex-end;
            gap: vars.$gap;
            padding: 0.5rem 1rem;

            /* & button {
                padding: 0.25rem 0.5rem;
                border-radius: vars.$corner;
                cursor: pointer;
                color: vars.$mocha_mantle;
                font-family: vars.$display_font;

                transition: background-color 0.25s ease-in-out;

                &.confirm {
                    background-color: map.get(vars.$mocha_colors, "green");

                    &:hover {
                        background-color: color.scale(
                            map.get(vars.$mocha_colors, "green"),
                            $lightness: -10%
                        );
                    }
                }

                &.cancel {
                    background-color: map.get(vars.$mocha_colors, "red");

                    &:hover {
                        background-color: color.scale(
                            map.get(vars.$mocha_colors, "red"),
                            $lightness: -10%
                        );
                    }
                }
            } */
        }
    }
}

.warning {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: vars.$gap;

    & p {
        margin: 0;
        text-align: center;

        &.important {
            color: map.get(vars.$mocha_colors, "yellow");
            font-weight: bold;
            font-size: 1.2rem;
        }
    }
}
