@use "vars";
@use "sass:math";
@use "sass:map";
@use "sass:color";

@mixin input_base {
    background-color: transparent;
    padding: 0.5rem 1rem;
    color: vars.$mocha_text;

    &::placeholder {
        font-family: vars.$body_font;
    }
}

@mixin input_shape {
    @include input_base;

    background-color: vars.$mocha_mantle;
    border: 1px solid vars.$mocha_surface0;
    border-radius: vars.$corner;
    color: vars.$mocha_text;

    transition:
        outline 0.25s,
        border-color 0.25s;
}

@mixin input_focus {
    outline: 0.25rem solid
        color.scale($color: map.get(vars.$mocha_colors, "mauve"), $alpha: -70%);
    border-color: map.get(vars.$mocha_colors, "mauve");
}

.form {
    display: flex;
    flex-direction: column;
    gap: vars.$gap;
}

.form_input {
    display: flex;
    flex-direction: column;
    gap: math.div(vars.$gap, 2);

    & label {
        font-weight: bold;
        font-size: 0.85rem;
    }
}

ul.form_errors {
    padding: 0;
    padding-left: 1rem;
    margin: 0;

    & li {
        color: map.get(vars.$mocha_colors, "red");
        font-size: 0.9rem;
    }
}

input {
    @include input_shape;

    &:focus {
        @include input_focus;
    }
}

.dropzone {
    padding: 1.25rem;
    background-color: transparent;
    border: 1px solid vars.$mocha_surface0;
    border-radius: vars.$corner;
    color: vars.$mocha_text;

    display: flex;
    flex-direction: column;
    align-items: center;
    outline: none;
    gap: 1rem;


    transition:
        background-color 0.25s;

    & p {
        margin: 0;
        text-align: center;

        &.subtext {
            font-size: 0.85rem;
            color: vars.$mocha_subtext0;
        }
    }

    &.highlight {
        @include input_focus;

        background-color: color.scale($color: map.get(vars.$mocha_colors, "mauve"), $alpha: -70%);

        & p.subtext {
            color: vars.$mocha_subtext1;
        }
    }
}
